<!DOCTYPE html>
<html>
  <head>
    <title>Thoughtbox</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>    
  </head>
  <body>

    <div class="header">
      <ul>
	<li id="home-link"><a href="/">Home</a></li>
	<li id="links-link"><%= link_to "Links", links_index_path if current_user %></li>
	<li id="sign-out"><%= link_to "Sign Out", sign_out_path if current_user %></li>
      </ul>
    </div>
    
    <% flash.each do |type, message| %>
    <div class="flash" id="flash-<%= type %>">
      <%= message %>
    </div>
    <% end %>
    
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
